# Python artifacts
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environment files
.env

# Git and local IDE/project files
.git/
.gitignore
.vscode/
.idea/

# Docker artifacts
Dockerfile
docker-compose.yml

# OS‐level junk
*.log
*.sqlite3
*.db
*.jpg
*.png
*.webp
.DS_Store
media/
static/
node_modules/
tests/
